obj/Debug/LinkedListTask.pdb
obj/Debug/LinkedListTask.exe
obj/Debug/LinkedListTask.csprojAssemblyReference.cache
obj/Debug/LinkedListTask.csproj.FileListAbsolute.txt
obj/Debug/LinkedListTask.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin/Debug/LinkedListTask.pdb
bin/Debug/LinkedListTask.exe.config
bin/Debug/LinkedListTask.exe
.vs/LinkedListTask/v16/Server/sqlite3/storage.ide
.vs/LinkedListTask/v16/Server/sqlite3/db.lock
.vs/LinkedListTask/v16/.suo
